.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../imagens/parede.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid gold;
}
.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
}

.square {
    flex: 1 1 auto;
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #fcde8c;
}

.enemy {
    background-image: url(../imagens/Ralph1.png);
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 13px;
}

footer {
    background-color: gold;
    color: red;
    padding: 2px;
    text-align: center;
    font-size: 8px;
}

@media (max-whidht: 768px) {
    .menu {
        flex-direction: row;
        height: auto;
    }

    .square {
        height: calc(100vw / 4);
        max-width: calc(100vw /4);
    }

}

@media (max-width: 430px) {
    .menu {
        font-size: 12px;
    }

    .square {
        height: calc(100vw / 5);
        max-width: calc(100vw / 5);
    }
}